@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

body {
    background-image: linear-gradient(90deg, #FFABE1, #A685E2);
    overflow: hidden;
    font-family: "Chango";
    color: #6155A6
}

#guess {
    height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    font-family: "Chango";
    color: #6155A6
}

.icon {
    height: 25px
}